<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Home
    </title>
</head>
<body>
    <div class="container fuild">
        <div class="card">
            <div class="card-header">
                Home
            </div>
            <div class="card-body">
                {% if user.id %}<h5 class="card-title">
                    Hi, {{user.first_name}} {{user.last_name}}
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        User: {{user.username}}
                    </h6>
                    <div class="buttons-end">                    
                        <a class= "btn btn-outline-primary" href="/logout/">Logout</a>
                    </div>
                {% else %}
                    <h5 class="card-title">
                         Hi, Anonimo, Logueate
                    </h5>
                    <div class="buttons-end">                    
                        <a class= "btn btn-outline-primary" href="/">Login</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>